DATABASE_URL="postgres://..."        # Neon
AUTH_SECRET="..."                    # openssl rand -base64 32
BLOB_READ_WRITE_TOKEN="..."          # Vercel Blob
WA_PHONE="56996953815"
WA_KEY="5759352"
ADMIN_EMAIL="victor@comercialsolutions.cl"
ADMIN_PASSWORD_HASH="..."            # bcrypt hash inicial
